{embed="inc/begin_head" entry_title="Register"}
{embed="inc/end_head"}
{embed="inc/limited_sidebar"}
{embed="membership/menu"}
<h2>Account &raquo; Forgot password</h2>
{if logged_in}
	You are already registered and logged in. <a href="{path=logout}">Logout</a> or go to your <a href="{path=membership/profile}">profile</a>.
{if:else}
{exp:zoo_visitor:forgot_password error_handling="inline"}
	{if password_sent}
		<h3>A password reset mail has been sent to the provided email.</h3>
	{if:else}
		<fieldset>
			<p>
				<label for="email" class="form-label">Your email:</label>
				<input type="text" name="email" id="email" class="form-text" value="" />
			</p>
			{error:email}
		</fieldset>
		<p>
	        	<input type="submit" value="Retrieve password" class="button" />
		</p>
	{/if}
{/exp:zoo_visitor:forgot_password}

{/if}

