{embed="inc/begin_head" entry_title="Applications and Forms"}
{embed="inc/end_head"}
{embed="inc/sidebar"}
{exp:channel:entries channel="home" limit="1"}
<div class="adcolumn">
{ads}
{if image_link}<a href="{image_link}">{/if}
{exp:ed_imageresizer image="{image}" maxWidth="169" maxHeight="93" alt="{image_title}"}<br />
{if image_link}</a>{/if}
{/ads}
</div>
{/exp:channel:entries}
{exp:channel:entries channel="applications_forms" limit="1"}
{other_applications}	
{applications_forms_body}
	<ul>
	<li>{exp:link_icon link_title="{application_form_name}"}{file}{/exp:link_icon}</li>
	</ul>
{/applications_forms_body}
{/exp:channel:entries}
{embed="inc/footer"}